{% extends 'base.html' %}

{% block title %}Login - Banda CESMAC{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h4>Acesso ao Sistema</h4>
            </div>
            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                    <div class="alert alert-danger text-center">Usuário ou senha incorretos.</div>
                    {% endif %}

                    <div class="mb-3">
                        <label for="id_username" class="form-label">Usuário:</label>
                        <input type="text" name="username" class="form-control" id="id_username" required>
                    </div>

                    <div class="mb-3">
                        <label for="id_password" class="form-label">Senha:</label>
                        <input type="password" name="password" class="form-control" id="id_password" required>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>

                    <div class="text-end mt-2">
                        <a href="{% url 'password_reset' %}" class="text-decoration-none small text-muted">
                            Esqueci minha senha
                        </a>
                    </div>

                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
            <div class="card-footer text-center">
                <small>Ainda não tem conta? <a href="#">Cadastre-se aqui</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}


<!-- CLASSES DE BOOTSTRAP
 1º O que o navbar-expand-lg faz?
    A: A classe navbar-expand-lg faz com que a barra de navegação (navbar) se expanda horizontalmente em telas grandes (large) e maiores,
       enquanto em telas menores ela se colapsa em um menu hambúrguer.

-->