{% extends 'base.html' %}

{% block title %}E-mail Enviado{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <div class="alert alert-success p-5 shadow-sm">
            <i class="bi bi-envelope-check fs-1"></i>
            <h4 class="mt-3">Verifique seu E-mail!</h4>
            <p>Acabamos de enviar as instruções para redefinir sua senha.</p>
            <p class="small text-muted">Dica: Como estamos em teste, olhe no seu <strong>TERMINAL</strong> do VS Code.</p>
            <a href="{% url 'login' %}" class="btn btn-outline-success mt-3">Voltar para o Login</a>
        </div>
    </div>
</div>
{% endblock %}